pipeline/MigrateCodeTables.json
{
	"name": "MigrateCodeTables",
	"properties": {
		"activities": [
			{
				"name": "GetMigrationTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.MigrationTables",
							"type": "Expression"
						},
						"queryTimeout": {
							"value": "@{pipeline().parameters.ShortTimeout}",
							"type": "Expression"
						},
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CodeTableList",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "MigrateTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMigrationTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMigrationTables').output",
						"type": "Expression"
					},
					"batchCount": 6,
					"activities": [
						{
							"name": "SetSchemaName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "SchemaName",
								"value": {
									"value": "@item().SchemaName",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ShortTimeout": {
				"type": "string",
				"defaultValue": "00:00:20"
			}
		},
		"variables": {
			"SchemaName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Demo"
		},
		"annotations": []
	}
}