pipeline/MigrateCodeTables.json
{
	"name": "MigrateCodeTables",
	"properties": {
		"activities": [
			{
				"name": "GetMigrationTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.MigrationTables",
							"type": "Expression"
						},
						"queryTimeout": {
							"value": "@{pipeline().parameters.ShortTimeout}",
							"type": "Expression"
						},
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CodeTableList",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "MigrateTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMigrationTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMigrationTables').output.value",
						"type": "Expression"
					},
					"batchCount": 6,
					"activities": [
						{
							"name": "CopyOneTable",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadUncommitted",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"maxConcurrentConnections": 3,
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CopyDataSource",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": {
											"value": "@item().schemaName",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CopyDataDestination",
									"type": "DatasetReference",
									"parameters": {
										"clientId": {
											"value": "@pipeline().parameters.ClientId",
											"type": "Expression"
										},
										"tableName": {
											"value": "@{item().schemaName}_@{item().tableName}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CopyOneTableWithFlow",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "CopyDataFlow",
									"type": "DataFlowReference",
									"parameters": {
										"partitionBy": {
											"value": "'@{item().PartitionBy}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"SqlServerTable": {
											"schemaName": {
												"value": "@item().schemaName",
												"type": "Expression"
											},
											"tableName": {
												"value": "@item().tableName",
												"type": "Expression"
											}
										},
										"ParquetDestination": {
											"clientId": "1",
											"tableName": "@{item().schemaName}_@{item().tableName}"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ShortTimeout": {
				"type": "string",
				"defaultValue": "00:00:20"
			},
			"ClientId": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"SchemaName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Demo"
		},
		"annotations": []
	}
}